@page "/"
<h1>Cryptocurrency agent app</h1>

<div class="app-info">
    Application to monitor cryptocurrencies on biggest exchange platforms
</div>
<div class="chart-logo">
    <img class="chart-logo-img" src="images/chart-logo.png" alt="logo">
</div>

