<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6 copyright-year">
                <span>© @DateTime.Now.ToString("yyyy") CryptocurrencyAgent</span>
            </div>
            <div class="col-md-6">
                <div class="copyright-menu">
                    <ul>
                        <li>
                            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                                <span>Home</span>
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" href="cryptocurrencies">
                                <span>Cryptocurrencies</span>
                            </NavLink>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
